html, body, div, canvas { 
    margin: 0;
    padding: 0;
}

#nav-placeholder object {
  width: 100%;
}
#nav-placeholder {
  width: 100%;
  align-self: flex-end;
  position: absolute;
}

body {
  overflow: hidden;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
  transition-duration: 0.15s;
}

#fractal-canvas {
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
  position: relative;
}

#controls-fixed-bottom {
  position: fixed;
  width:    100%;
  z-index:  1;
  bottom: 0.75em;
  transition-duration: 0.7s;
  padding: 0.25em;
  opacity: 0.35;
}
#controls-fixed-bottom:hover {
  opacity: 1;
}

#outer-controls-container {
  width: 26em;
  margin: 0 auto;
  position: relative;
}

.sliders {
  height: 1.8em;
  display: grid;
  grid-template-columns: 3em 0.5em 15em 0.5em 7em;
  grid-template-rows: 1fr;
}
.values {
  grid-column-start: 1;
  grid-column-end: 2;
  top: 3px;
  justify-content: flex-end;
}
.range-container {
  justify-content: center;
}
.names, .values, .range-container {
  display: flex;
  align-items: center;
}
.names {
  z-index: 1;
  pointer-events: none;
  text-shadow: 0 0 1px #EEE;
  justify-content: flex-start;
  grid-column-start: 5;
  grid-column-end: 6;
}

.range-container {
  grid-column-start: 3;
  grid-column-end: 4;
}
.names, input {
}
.names, input, .values, span, .range-container {
  grid-row-start: 1;
  grid-row-end: 2;
}

input {
  height: 3px;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none; /* overrides default CSS*/
  background: #222;
  border-radius: 0.375em;
  grid-column-start: 1;
  grid-column-end: 2;
}
input:focus {
  outline: none;
}
input::-webkit-slider-thumb {
  height: 1.8em;
  width: 0.7em;
  border-radius: 3px; 
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 2px solid #EEE;
  background: #222;
}
input::-moz-range-thumb {
  height: 1.8em;
  width: 5px;
  border-radius: 3px; 
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 1px solid #EEE;
  background: #222;
}
::-webkit-range-track {
  background: transparent;
  border: 0;
}
::-moz-range-track {
  background: transparent;
  border: 0;
}

button {
  padding: 4px 10px;
  background: #222;
  border-radius: 7px;
  border: 3px solid transparent;
  color: #EEE;
  cursor: pointer;
  text-decoration: none;
  outline: hidden;
}
button:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}
button:focus {
  outline: none;
}

